{% extends 'recipes/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h2>Create New Recipe</h2>
    <hr>
    <h4>Recipe Details:</h4>
    <form method="post">
    {% csrf_token %}

        <div>
            <label>Title: </label>
            {{ recipe_form.title }}
        </div>

        <div>
            <label>Description: </label>
            {{ recipe_form.description }}
        </div>

        <div>
            <label>Source URL: </label>
            {{ recipe_form.source_url }}
        </div>

        <div>
            <label>Image URL: </label>
            {{ recipe_form.img_url }}
        </div>

    <hr>
    <h4>Ingredients:</h4>

    {{ ingredients_formset.management_form }}
    {% for ingredients_form in ingredients_formset %}
        <div class="ingredients-formset">
            <label>Ingredient: </label>
            {{ ingredients_form.ingredient }}
            {% if ingredients_form.ingredient.errors %}
                {% for error in ingredients_form.ingredient.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            <label>Quantity: </label>
            {{ ingredients_form.quantity }}
            {% if ingredients_form.quantity.errors %}
                {% for error in ingredients_form.quantity.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}

    {% if ingredients_formset.non_form_errors %}
        {% for error in ingredients_formset.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}

    <hr>
    <h4>Steps:</h4>

    {{ recipesteps_formset.management_form }}
    {% for form in recipesteps_formset %}

        <div class="recipesteps-formset">
            <label>Step: </label>
            {{ form.step_text }}
        </div>
    {% endfor %}

        <br>
    <input type="submit" value="Save" class="button"/>
</form>


<!-- Include formset plugin - including jQuery dependency -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'formset/jquery.formset.js' %}"></script>
<script>
    $('.ingredients-formset').formset({
        addText: 'Add Ingredient',
        deleteText: 'Remove'
    })

    $('.recipesteps-formset').formset({
        addText: 'Add Step'
    });
</script>


{% endblock %}

